:root {
    --clr-primary-200: hsl(300, 43%, 22%);
    --clr-primary-100: hsl(333, 80%, 67%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-300: hsl(303, 10%, 53%);
    
    --ff-default: 'League Spartan', sans-serif;
    
    --fs-0: .75rem;
    --fs-1: .8rem;
    --fs-2: 2.2rem;
    --fs-3: 3.125rem;
    --fs-4: 1.1rem;
    
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
    
    --border-radius: .3rem;
    
    --space-element: 1rem;
    --padd-title: 0 2.5rem;
    --margin-mobile: 6rem 1.5rem;
    --margin-desktop: 6.2rem  10.375rem;
    --mg-teste: 6rem 10rem 0 10rem
    
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      a {
        text-decoration: none;
      }
      html, body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }
        img, svg {
        display: block;
        max-width: 100%;
      }
       button {
        font: inherit;
      }
      p, h1 {
        overflow-wrap: break-word;
      }

      html {
        background-color: var(--clr-neutral-100);
        font-family: var(--ff-default);
        color: var(--clr-primary-200);
        background: url(../images/bg-pattern-top-mobile.svg);
        background-size: 50%;
      }

      .container {
        margin: var(--margin-mobile);
      }

      .container .rated_title {
        text-align: center;
      }

      .container .rated_title h1 {
        margin-bottom: var(--space-element);
        font-weight: var(--fw-800);
        padding: var(--padd-title);
        font-size: var(--fs-2);
        line-height: 1;
      }

      .container .rated_title p {
        margin-bottom: var(--space-element);
        font-weight: var(--fw-400);
      }

      .container .rated .reviews {
        background-color: var(--clr-neutral-200);
        margin-bottom: var(--space-element);
        border-radius: var(--border-radius);
        padding: var(--space-element);
        font-weight: var(--fw-700);
        text-align: center;
      }

      .container .rated .reviews .stars {
        display: flex;
        justify-content: center;
        margin-bottom: .7rem;
        gap: .5rem;
      }

      .testimonials {
        color: var(--clr-neutral-100);
      }

      .testimonials .testimonial {
        background-color: var(--clr-primary-200);
        margin-bottom: var(--space-element);
        border-radius: var(--border-radius);
        font-size: var(--fs-0);
        padding: 2rem;
      }

      .testimonials .testimonial .author {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: var(--space-element);
        gap: 1.2rem;
      }

      .testimonials .testimonial .author img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }

      .testimonials .testimonial .author .author-text .name {
        font-size: var(--fs-1);
        font-weight: var(--fw-700);
      }

      .testimonials .testimonial .author .author-text .verified {
        font-size: var(--fs-1);
        font-weight: var(--fw-700);
        color: var(--clr-primary-100);
      }

      @media(min-width: 1000px) {
        html {
        background-image: 
        url(../images/bg-pattern-top-desktop.svg),
        url(../images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        background-size: 50%;
      }

        .container {
            margin: var(--margin-desktop);
        }
        .container .rated {
          display: flex;
          gap: 2rem;
        }

        .container .rated .rated_title {
            width: 50%;
            text-align: start;
        }

        .container .rated_title h1 {
          font-size: var(--fs-3);
            padding: 0;
        }

        .container .rated_title p {
            font-size: var(--fs-4);
        }

        .container .testimonials {
            display: flex;
            margin-top: var(--space-element);
            gap: 2rem;
        }  
        
        .container .rated .reviews-stars {
          margin-right: 0;
          padding: 0;
        }
        
        .container .rated .reviews .stars {
          margin-bottom: .3250rem;
          margin-right: 1rem;
        }
        
        .container .rated .reviews-stars .reviews {
          display: flex;
          align-items: center;
          width: 27.875rem;
          height: 3.5rem;
        }

        .container .rated .reviews-stars .reviews:nth-child(1) {
          transform: translateX(-4rem);
        }
        
        .container .rated .reviews-stars .reviews:nth-child(2) {
         transform: translateX(-1rem);
        }

        .container .rated .reviews-stars .reviews:nth-child(3) {
          transform: translateX(2rem);
        }

        .container .testimonials .testimonial:nth-child(2) {
          transform: translateY(1rem);
        }

        .container .testimonials .testimonial:nth-child(3) {
          transform: translateY(2rem);
        }


      @media(min-width: 1440px) {
        .container {
          margin: var(--margin-desktop);
        }

      }
    }